/ProjectHybridGuild/.vs/ProjectHybridGuild/CopilotIndices/
/ProjectHybridGuild/.vs/ProjectHybridGuild/v17/
/ProjectHybridGuild/obj
/ProjectHybridGuild/.vs/ProjectHybridGuild/FileContentIndex/976351a6-a09d-4efe-b3ea-693b0cb5c0b7.vsidx
/ProjectHybridGuild/.vs/ProjectHybridGuild/FileContentIndex/
/ProjectHybridGuild/.vs/ProjectHybridGuild/copilot-chat/
